rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isAdmin() {
      return isSignedIn() && getUserData().role == 'admin';
    }

    // Rules for collections
    match /users/{userId} {
      allow get, update, delete: if isSignedIn() && (isOwner(userId) || isAdmin());
      allow create: if isSignedIn();
      allow list: if isAdmin();
    }

    match /subjects/{subjectId}/{document=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
    
    match /quizSubmissions/{submissionId} {
      allow create: if isSignedIn();
      allow read: if isSignedIn() && (isOwner(submissionId) || isAdmin());
      // Allow students to list their own submissions for the achievements page.
      allow list: if isSignedIn() && request.query.where.get("userId") == request.auth.uid;
    }
  }
}
